.nav{
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.logoApp img{
    height: 4em;
    padding: .5em 2em;
}

.navLinks{
    padding: 0em 2em;
    display: flex;
    gap: 1em;
}

.navLinks a{
    /*background:#87953f;
    border: solid .3rem #10636c;*/ 
    border-radius: .5em;
    color: #fff; 
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    padding: .3em 1em .1em 1em;
    text-decoration: none;
    transition: all .5s ease;
}

.navLinks a:hover{
    /*background: #e3ff59;*/
    outline: solid .3rem #12b0c9;
    /*border: solid .3rem #12b0c9;*/
    color: #12b0c9;
    /*transform: scale(1.1,1.1);*/
    transition: all .2s ease;
}

.navLinks .active{
    background: #d4ff00;
    /*border: solid .3rem #12b0c9;*/ 
    color: #12b0c9;
    /*transform: scale(1.1,1.1);*/
    transition: all .2s ease;
}

.navLinks .active:hover{
    background: #d4ff00;
    outline: none;
    /*border: solid .3rem #12b0c9;*/ 
    color: #12b0c9;
    /*transform: scale(1.1,1.1);*/
    transition: all .2s ease;
}

.user{
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem 1.5rem;
}

.user img{
    border: solid .15rem #d4ff00;
    border-radius: 50%;
    padding: 0em .6rem;
    margin-right: 1rem;
    width: 2rem;
}

.user a{
    font-size: 1.2rem;
    color: #d4ff00;
    text-decoration: none;
}